@font-face {
  font-family: 'SourceCodePro';
  font-style: normal;
  font-weight: 400;
  src: url(sourcecode_pro/SourceCodePro-Regular.otf);
}
@font-face {
  font-family: 'SourceCodePro';
  font-style: normal;
  font-weight: 700;
  src: url(sourcecode_pro/SourceCodePro-Bold.otf);
}
@font-face {
  font-family: 'SourceCodePro';
  font-style: normal;
  font-weight: 900;
  src: url(sourcecode_pro/SourceCodePro-Black.otf);
}
@font-face {
  font-family: 'SourceCodePro';
  font-style: normal;
  font-weight: 500;
  src: url(sourcecode_pro/SourceCodePro-Semibold.otf);
}
@font-face {
  font-family: 'SourceCodePro';
  font-style: normal;
  font-weight: 200;
  src: url(sourcecode_pro/SourceCodePro-Light.otf);
}
@font-face {
  font-family: 'SourceCodePro';
  font-style: normal;
  font-weight: 200;
  src: url(sourcecode_pro/SourceCodePro-ExtraLight.otf);
}
@font-face {
  font-family: 'SourceCodePro';
  font-style: italic;
  font-weight: 400;
  src: url(sourcecode_pro/SourceCodePro-Light.otf);
}
body {
  margin: 0px;
  padding: 0px;
  background: #eee;
  font-family: "SourceCodePro";
  font-size: small;
}
.side {
  position: fixed;
  top: 0;
  background: #000;
  width: 200px;
  height: 100%;
  z-index: -10;
}
.cnt {
  margin: 30px;
  margin-left: 220px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #eee;
  margin-left: -200px;
  margin-bottom: -1em;
  z-index: 10;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}
h1 {
  font-weight: 900;
}
